<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Weather Forecast Demo about page</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{!-- <img src="/img/babe.jpeg" class="protrait" alt="" /> --}}
        <p>This web app is built with HTML 5, CSS, and JS. It has a Node backend and uses Express,
            Handlebars is used for templating and npm used for package management. The whole app is deployed to Heroku.
        </p>
        <p>
            It uses ajax/rest endpoints for Geocoding (location) Mapbox.com api was used, and the Weather forecasts use
            the Darksky.net api. </p>
        <p>See my <a href="https://manmadeweb.com/resume">full resume</a>
        </p>
        {{>footer}}
</body>

</html>