<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Weather Forecast Demo</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{name}}
        <p>Use this site to get your weather forecast</p>
        <form action="">
            <input type="text" placeholder="Enter your city"> <button type="submit">Search</button>
        </form>

        <p id="error-message"></p>
        <p id="forecast-message"></p>
        <p></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>